name: Daily AWS Cleanup

on:
  schedule:
    - cron: "45 22 * * *"   # Runs every day at 11:30 PM UTC
  workflow_dispatch:        # Manual trigger option

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Run Cleanup Script
        run: bash scripts/aws_cleanup.sh
